---
import FormattedDate from "@common/FormattedDate.astro";
import BaseLayout from "@layout/BaseLayout.astro";

import { getCollection } from "astro:content";

const works = (await getCollection("work")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
  <ul>
    {
      works.map((work) => (
        <li class="py-10">
          <a href={`/works/${work.slug}/`}>
            <img class="rounded-xl" width={520} height={360} src={work.data.heroImage} alt="" />
            <h4 class="mt-5">{work.data.title}</h4>
            <p class="date">
              <FormattedDate date={work.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
