@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
  /* font-family: "Quicksand", sans-serif; */
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

html.dark {
  background-color: black;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}