---
import { SITE_TITLE } from "src/consts";
const today = new Date();
---

<footer>
	<div class="flex justify-center bg-white">
		&copy; {today.getFullYear()}  Y3sterd4y. All rights reserved.
	</div>
</footer>

