---
import BaseLayout from "@layout/BaseLayout.astro";
---

<BaseLayout>
  <div class="w-[620px] px-5 py-10">
    <article>
      <h2 class="font-semibold">👋 HI! I'm Y3sterd4y</h2>
      <img class="rounded-lg my-5" width={620} height={360} src="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/global/downloads/wallpapers/rockstar/rdr2_tshirt_linocut_solid_desktop.jpg" alt="" />
      <p class="indent-12 text-justify tracking-tight">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
        integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu
        turpis egestas pretium. Euismod elementum nisi quis eleifend quam
        adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus
        sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget
        magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius
        sit amet mattis vulputate enim.
      </p>
    </article>
  </div>
</BaseLayout>
