---

---

<a
  href=""
  class="h-[85vh] my-2 flex flex-col hover:underline hover:underline-offset-8 text-white mx-4 lg:mx-14 rounded-lg"
>
  <div class="h-full rounded-lg bg-cover bg-center lg:bg-top bg-[url('https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/global/downloads/wallpapers/games/gta-vi-key-3840x2160.jpg')]">
    <div class="h-full flex justify-start items-end bg-gradient-to-t from-zinc-900 rounded-lg">
      <div class="p-7 lg:p-16 w-max h-max">
        <p class="mb-3 text-xl lg:text-4xl font-extrabold">
          Grand Theft Auto VI
        </p>
        <p class="text-md lg:text-2xl font-medium">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
          alias voluptas
        </p>
      </div>
    </div>
  </div>
</a>
