---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import GithubIcon from "@icons/Github-Icon.astro";
import X_Icon from "@icons/X-Icon.astro";

import { SITE_TITLE } from "../consts";
---

<header
  class="max-lg:grid-cols-2 grid grid-cols-3 my-4 py-5 mx-4 lg:mx-14 static"
>
  <h2 class="text-2xl font-bold flex items-center">{SITE_TITLE}</h2>
  <nav
    class="max-lg:justify-end max-lg:hidden static flex justify-center items-center text-lg"
  >
    <div
      class="fixed px-8 py-3 flex gap-5 border border-zinc-600 rounded-lg backdrop-blur-lg"
    >
      <HeaderLink href="">Home</HeaderLink>
      <HeaderLink href="">About</HeaderLink>
      <HeaderLink href="">Contact</HeaderLink>
      <ThemeIcon />
    </div>
  </nav>
  <div class="flex justify-end items-center gap-5">
    <a href=""><X_Icon /></a>
    <a href=""><GithubIcon /></a>
  </div>
</header>
